<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- import default cxf config here -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!-- import configurable application variable -->
    <!--<context:property-placeholder location="/WEB-INF/aaa.properties" ignore-unresolvable="true"/>-->

    <!-- restful interface define -->
    <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>

    <bean id="providerList" class="java.util.ArrayList">
        <!---->
    </bean>

    <!-- 积分扣减接口-->
    <!--<jaxrs:server id="scoreDeductGd" address="/kf/scoreDeductInterface">-->
        <!--<jaxrs:providers>-->
            <!--<ref bean="jsonProvider" />-->
        <!--</jaxrs:providers>-->
        <!--<jaxrs:serviceBeans>-->
            <!--<bean class="com.microCredit.scoreDeduct.webapi.ScoreDeductInterface"/>-->
        <!--</jaxrs:serviceBeans>-->
    <!--</jaxrs:server>-->
</beans>